.header-wrapper{
  background-color: cadetblue;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-wrapper h1{
  color:whitesmoke;
  font-size: 50px;
  text-align: center; 
}

.icon-sun {
  width: 25px;
  height: 25px;
  color: yellow;
  animation: mymove 2s infinite linear;
}
@keyframes mymove {
  0% {transform: rotate(360deg);}
}