.list-container {
  width: 80%;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 30px;
  gap: 10px;
} 

.list-container button {
  padding: 20px;
  font-size: 15px;
  background-color: yellow;
}
