.container-todo-form {
  background-color: grey;
  padding: 80px;
  border: 2px solid black;
  max-height: 25vh;
}

form {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-input-task, .date-picker {
  width: 100%;
  height: 50px;
  font-size: 25px;
}

.container-button {
  min-width: 100px;
  min-height: 50px;
  align-self: flex-end;
  border-radius: 10px;
  border: none;
}


